<header>
  <!-- The <i> tag below includes the lizzard hand icon from Font Awesome -->
  <a href="#"><h1 class="site-title"><i class="fas fa-leaf"></i> Outdoor Guide, Oregon</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink active"><a href="/home">HOME</a></li>
      <li class="navitem navlink"><a href="/about">ABOUT</a></li>
      <li class="navitem navlink"><a href="/parks">PARKS</a></li>
	  <li class="navitem navlink"><a href="/pictures">PICTURES</a></li>
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
      </li>
    </ul>
  </nav>
</header>