<article class="hike">
  <div class="hike-image">
    <img src="{{image}}" alt="{{name}}"></i>
  </div>
  <div class="hike-content">
    <p class="hike-name">
      {{name}}
    </p>
  </div>
</article>