<main class="about-container">
	  
  <h2> ABOUT: </h2> 
  <p> This is the about page. This is where the text goes that 
      talks about why this website was created and it's original
	  intended uses. 
  </p>	  
	  
</main>